.dictator-container{
  padding: 0 24px 0 24px;
}

#collect-dialog{
  height: 100vh;
}
.MuiPaper-root.MuiDialog-paper.MuiDialog-paperScrollPaper.MuiDialog-paperWidthSm.MuiPaper-elevation24.MuiPaper-rounded{
  height: 100vh;
}

.max-height{
  height: 100%;
}
